.css-qpjsw6-MuiPaper-root-MuiCard-root{
    // background-color: #363333 !important;
    background-color: #b1abab2e !important;
}

.card-image {
    object-fit: cover;
    width: 98% !important;
    margin: 5px auto;
    border-radius: 5px;
}

.card-title {
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.description {
    color: white !important;
    ::first-letter {
        text-transform: uppercase;
    }
}