.next-prev-buttons {
    .css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled {
        background-color: #1976d369;
        color: grey;
    }
    
    .css-1hw9j7s.Mui-disabled{
            background-color: #1976d369;
            color: grey;
    }
}