.app-bar{
    position: fixed !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.app-bar-background {
    background-color: #e9e2e2d8 !important;
    button{
        color:black;
        &:hover{
            background-color: #50484887 !important;
        }
    }
}

.MuiButtonBase-root {
    text-transform: lowercase !important;
    font-family: "starjedi" !important;
    font-size: 18px !important;
    
    &:hover{
        background-color: rgba(222, 205, 205, 0.367) !important;
    }
}