.css-1pqm26d-MuiAvatar-img{
    object-fit: cover !important;
}
.css-pwngrv-MuiPaper-root-MuiCard-root{
    background-color: #b1abab2e !important;
    p{
        color: white;
    }
}

.css-mx8tbv{
    background-color: #b1abab2e !important;
    p {
        color: white;
    }}
